:root {
  /* COLORS */
  --orange: #fba958ff;
  --dark-blue: #183875;
  --medium-blue: #387adf;
  --light-blue: #50c4ed;
  
  --purple: #8c32f1;
  --pink: #e436c7;
  --red: #e03131;
  --yellow: #ffe600;
  --green: #3eca14;

  --light-gray: #cbd4e4;
}

/* FONT */

.poppins-regular, * {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pangolin-regular, h1, h2, h3, h4, h5, .navbar, .lead, li {
  font-family: "Pangolin", cursive;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

/* TEXT COLOR */

.orange-text {
  color: var(--orange);
}

.dark-blue-text {
  color: var(--dark-blue);
}

.medium-blue-text {
  color: var(--medium-blue);
}

.light-blue-text {
  color: var(--light-blue);
}

.purple-text {
  color: var(--purple);
}

.pink-text {
  color: var(--pink);
}

.red-text {
  color: var(--red);
}

.yellow-text {
  color: var(--yellow);
}

.green-text {
  color: var(--green);
}

.white-text {
  color: white;
}

/* BACKGROUND */

.orange-bg {
  background-color: var(--orange);
  color: var(--dark-blue);
}

.dark-blue-bg {
  background-color: var(--dark-blue);
  color: white;
}

.medium-blue-bg {
  background-color: var(--medium-blue);
  color: white;
}

.light-blue-bg {
  background-color: var(--light-blue);
  color: white;
}

.purple-bg {
  background-color: var(--purple);
  color: var(--dark-blue);
}

.pink-bg {
  background-color: var(--pink);
  color: white;
}

.red-bg {
  background-color: var(--red);
  color: white;
}

.yellow-bg {
  background-color: var(--yellow);
  color: var(--dark-blue);
}

.green-bg {
  background-color: var(--green);
  color: white;
}

.light-gray-bg {
  background-color: var(--light-gray);
  color: var(--dark-blue);
}

.chalkboard-bg {
  background-image: url(../Images/Backgrounds/grungy-green-chalkboard-background-mas02xb0oybagefx.jpg);
  background-size: cover;
  background-position: center;
  color: rgba(255, 255, 255, 0.8);
}

.blackboard-bg {
  background-image: url(../Images/Backgrounds/grunge-style-blackboard-texture.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}

.blackboard-bg a {
  color: white;
}

.paper-bg {
  background-image: url(../Images/Backgrounds/old-wrinkled-paper-sheet-background_125869-38-copy.jpg);
  background-size: cover;
  background-position: center;
  color: var(--dark-blue);
}

.texture-bg {
  background-image: url(../Images/Backgrounds/texture-bg.svg);
  background-size: cover;
  background-position: center;
  color: white;
}

.dark-texture-bg {
  background-image: url(../Images/Backgrounds/dark-texture-bg.svg);
  background-size: cover;
  background-position: center;
  color: white;
}

.school-supplies-bg {
  background-image: url(../Images/Backgrounds/back-school-background-with-school-supplies-copy-space.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}


/* GENERAL */

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

body {
  padding-top: 56px;
}

.navbar {
  background-color: var(--dark-blue);
}

.dropdown-item:hover {
  background-color: var(--dark-blue);
}

.dropdown-menu {
  background-color: var(--medium-blue);
}

.contactanos {
  border: 2px solid white;
}

img {
  width: 100%;
}

ul {
  list-style-position: inside;
  list-style-image: url(../Images/Drawings/star.svg);
}

/* INDEX */

.hero-image {
  height: min(calc(100vh - 56px), 70vw);
  min-height: calc(60vh - 56px);
  background-image: url(../Images/Backgrounds/bright-stationery-blackboard.jpg);
  background-size: cover;
  background-position: center;
}

.hero-image img {
  width: 20vw;
  min-width: 15vh;
  -webkit-filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.5));
}

.responsive-title {
  font-size: 25px;
}

.thumbnail {
  width: 100%;
  border: 3px dashed var(--orange);
}

.costos .card {
  background-image: url(../Images/Backgrounds/old-wrinkled-paper-sheet-background_125869-38-copy.jpg);
  background-size: cover;
  background-position: center;
}

.costos .card p {
  font-weight: 400;
}

/* NOSOTROS */

.framed {
  border: 50px solid;
  border-image-source: url(../Images/Backgrounds/frame.svg);
  border-image-slice: 180;
}

.title-drawing svg {
  height: 4rem;
}

.title-drawing svg:nth-of-type(1) {
  transform: rotate(30deg);
}

.pie-chart {
    width: 400px;
    max-width: 95vw;
    height: 400px;
    max-height: 95vw;
    border-radius: 100%;
    display: flex;
    margin: 0 auto;
    padding: 0 1rem;
    flex-wrap: wrap;
    align-items: top;
    justify-content: space-evenly;
    background-image: url(../Images/Backgrounds/pie-chart.svg);
    background-size: cover;
}

.break {
    width: 100%;
}

.pie-chart div:not(.break) {
    height: 15%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pie-chart div:nth-child(1), .pie-chart div:nth-child(4) {
    position: relative;
    top: 30%;
}

.pie-chart div:nth-child(2), .pie-chart div:nth-child(3) {
    position: relative;
    top: 10%;
}

.pie-chart div:nth-child(6), .pie-chart div:nth-child(9) {
    align-self: flex-end;
    position: relative;
    bottom: 30%;
}

.pie-chart div:nth-child(7), .pie-chart div:nth-child(8) {
    align-self: flex-end;
    position: relative;
    bottom: 10%;
}

.pie-chart div:nth-child(2), .pie-chart div:nth-child(7) {
  right: 3%;
}

.pie-chart div:nth-child(3), .pie-chart div:nth-child(8) {
  left: 3%;
}

.pie-chart img {
  width: 60px;
  transition: width 0.5s;
}

.pie-chart img:hover {
  width: 70px;
}

.orange-popover {
  --bs-popover-header-bg: var(--orange);
  --bs-popover-header-color: white;
  --bs-popover-body-color: var(--dark-blue);
  --bs-popover-border-color: var(--orange);
}

.medium-blue-popover {
  --bs-popover-header-bg: var(--medium-blue);
  --bs-popover-header-color: white;
  --bs-popover-body-color: var(--dark-blue);
  --bs-popover-border-color: var(--medium-blue);
}

.pink-popover {
  --bs-popover-header-bg: var(--pink);
  --bs-popover-header-color: white;
  --bs-popover-body-color: var(--dark-blue);
  --bs-popover-border-color: var(--pink);
}

.yellow-popover {
  --bs-popover-header-bg: var(--yellow);
  --bs-popover-header-color: var(--dark-blue);
  --bs-popover-body-color: var(--dark-blue);
  --bs-popover-border-color: var(--yellow);
}

.green-popover {
  --bs-popover-header-bg: var(--green);
  --bs-popover-header-color: white;
  --bs-popover-body-color: var(--dark-blue);
  --bs-popover-border-color: var(--green);
}

.purple-popover {
  --bs-popover-header-bg: var(--purple);
  --bs-popover-header-color: white;
  --bs-popover-body-color: var(--dark-bluet);
  --bs-popover-border-color: var(--purple);
}

.light-blue-popover {
  --bs-popover-header-bg: var(--light-blue);
  --bs-popover-header-color: white;
  --bs-popover-body-color: var(--dark-blue);
  --bs-popover-border-color: var(--light-blue);
}

.red-popover {
  --bs-popover-header-bg: var(--red);
  --bs-popover-header-color: white;
  --bs-popover-body-color: var(--dark-blue);
  --bs-popover-border-color: var(--red);
}

/* OFERTA EDUCATIVA */

.wooden-border {
  border: 10px solid;
  border-image-source: url(../Images/Backgrounds/simple-wooden-frame-isolated-white-surface.jpg);
  border-image-slice: 100;
}

.accordion-item {
  background-color: var(--dark-blue);
  color: white;
  border: none;
}

.accordion-button {
  background-color: var(--dark-blue);
  color: white;
  font-size: calc(1.275rem + .3vw);
}

.accordion-button:focus {
  box-shadow: none;
  background-color: var(--medium-blue);
}

.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

/* GALERÍA */

.slide-container {
  position: relative;
  height: min(670px, 80vw);
  background-color: white;
}

.slide-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.slide-container button {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: var(--orange);
  font-size: 2em;
}

.slide-container button:nth-of-type(1) {
  transform: translateY(-50%);
}

.slide-container button:nth-of-type(2) {
  transform: translateX(-100%) translateY(-50%);
}

.img-gallery {
  overflow: auto;
  white-space: nowrap;
  height: min-content;
}

.gallery-img {
  width: 150px;
}

.gallery-img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* CONTACTO */

.social-media {
  flex-direction: column;
}

.social-media-link {
  font-size: 2rem;
  text-decoration: none;
  display: inline;
}

.social-media-link:nth-of-type(1):hover {
  color: #25D366;
}

.social-media-link:nth-of-type(2):hover {
  color: #4267B2;
}

.social-media-link:nth-of-type(3):hover {
  color: #E1306C;
}

/* ANIMATIONS */

section {
  overflow: hidden;
}

.animate {
  transition: transform 0.7s, opacity 0.7s;
}

.fade-in {
  opacity: 0;
}

.show-animate .fade-in {
  opacity: 100%;
}

.fade-in-to-right {
  transform: translateX(-50px);
  opacity: 0;
}

.show-animate .fade-in-to-right {
  transform: translateX(0);
  opacity: 100%;
}

.fade-in-to-left {
  transform: translateX(50px);
  opacity: 0;
}

.show-animate .fade-in-to-left {
  transform: translateX(0);
  opacity: 100%;
}

.fade-in-to-up {
  transform: translateY(50px);
  opacity: 0;
}

.show-animate .fade-in-to-up {
  transform: translateX(0);
  opacity: 100%;
}

.fade-in-to-down {
  transform: translateY(-50px);
  opacity: 0;
}

.show-animate .fade-in-to-down {
  transform: translateX(0);
  opacity: 100%;
}

/* MEDIA QUERIES */

@media (max-width: 380px) {
  .costos h2 {
    font-size: calc(1.2rem + 2.7vw);
  }
}

